// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

@mixin selectedDayStyle {
  content: "";
  position: absolute;
  top: pxToRem(var(--day-selected-cricle-border-width) / 2);
  display: block;
  width: pxToRem(var(--day-selected-cricle-size));
  height: pxToRem(var(--day-selected-cricle-size));
  border-radius: 50%;
  border: pxToRem(var(--day-selected-cricle-border-width)) solid var(--text-default-color);
}

:host {
  display: block;

  --text-default-color: var(--color-charcoal-default);
  --text-gray-color: var(--color-granite-default);
  --text-color-hover-focus: var(--color-red125-default);
  --day-cell-size: 44;
  --day-selected-cricle-size: 40;
  --day-selected-cricle-border-width: 2;
  --day-disabled-line-width: 22;
  --day-disabled-line-height: 1;
}

.datepicker__days {
	border-collapse: collapse;
	border-spacing: 0;
}

.datepicker__days-weekday {
  @include text-xs--regular();
  color: var(--text-gray-color);
  padding-block-end: pxToRem(var(--spacing-fixed-4x));
}

.datepicker__days-day {
  @include text-s--regular();
  color: var(--text-default-color);
  text-align: center;
  cursor: default;
  position: relative;
  height: pxToRem(var(--day-cell-size));
  width: pxToRem(var(--day-cell-size));

  &:not(.datepicker__days-day--disabled):not(.datepicker__days-day--empty):not(.datepicker__days-day--selected):hover {
    color: var(--text-color-hover-focus);

    &:after {
      @include selectedDayStyle();
      border-color: var(--text-color-hover-focus);
    }
  }

  &.datepicker__days-day--past {
    color: var(--text-gray-color);
  }

  &.datepicker__days-day--today {
    @include text--bold();
  }

  &.datepicker__days-day--selected {
    color: var(--text-default-color);

    &:after {
      @include selectedDayStyle();
    }
  }

  &.datepicker__days-day--disabled {
    color: var(--text-gray-color);

    &:after {
      content: "";
      position: absolute;
      left: calc((#{pxToRem(var(--day-cell-size))} - #{pxToRem(var(--day-disabled-line-width))}) / 2);
      top: calc((#{pxToRem(var(--day-selected-cricle-size))} / 2) + pxToRem(var(--day-disabled-line-height)));
      display: block;
      width: pxToRem(var(--day-disabled-line-width));
      border-top: pxToRem(var(--day-disabled-line-height)) solid var(--text-gray-color);
    }
  }
}
