// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --dot-size-large: 10; // TODO missing Design Token?
}

.segment {
  @include card();
  @include card--primary-negative();
  @include card--s();
}

.segment lyne-pearl-chain {
  margin-block-start: pxToRem(var(--spacing-fixed-2x));
  height: calc(100% - #{pxToRem(var(--spacing-fixed-4x))});
}

.cols {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.col--times {
  display: flex;
  flex-direction: column;
  flex: 0 0 pxToRem(48);

  @include mq($from: medium) {
    flex: 0 0 pxToRem(56);
  }
}

.segment__cus-him-information {
  flex: 1 1 auto;
}

.col--pearlchain {
  flex-basis: pxToRem(var(--dot-size-large));
  margin-inline-start: pxToRem(var(--spacing-fixed-1x));
  margin-inline-end: pxToRem(var(--spacing-fixed-3x));

  @include mq($from: medium) {
    margin-inline-end: pxToRem(var(--spacing-fixed-4x));
  }

}

.col--details {
  flex: 1 1 auto;
}

.col--details p {
  display: block;
  margin: 0;
}

.col--details .inner {
  position: relative;
  margin-block-start: pxToRem(var(--spacing-fixed-3x));
  margin-block-end: pxToRem(var(--spacing-fixed-3x));
}

.col--details lyne-timetable-occupancy {
  position: absolute;
  inset-block-start: pxToRem(-3);
  inset-inline-end: pxToRem(-73);

  @include mq($from: medium) {
    inset-block-start: pxToRem(var(--spacing-fixed-1x), true);
    inset-inline-end: pxToRem(-84);
  }

}

.col--details .departing-from {
  @include text-s--bold();
}

.col--details .arriving-at {
  @include text-s--regular();
}

.col--platforms {
  padding-inline-start: pxToRem(var(--spacing-fixed-2x));
  justify-content: space-between;
}

#test {
  @include screenReaderOnly();
}


