// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --dot-size-large: 10; // TODO missing Design Token?
}

.segment {
  @include card();
  @include card--primary-negative();
  @include card--s();
}

.segment lyne-pearl-chain {
  height: 100%;
}

.cols {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.col--times {
  flex-basis: pxToRem(48);
  background: lime;
}

.col--pearlchain {
  flex-basis: pxToRem(var(--dot-size-large));
  background: mediumseagreen;
}

.col--details {
  background: pink;
}

.col--platforms {
  background: deeppink;
}



