// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  --some-color-var: var(--color-black-default);
}

.cols {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.col--times {
  flex-basis: pxToRem(48);
  background: lime;
}

.col--pearlchain {
  flex-basis: pxToRem(200);
  background: mediumseagreen;
}

.col--details {
  background: pink;
}

.col--platforms {
  background: deeppink;
}



