// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;
  --image-size: 80;
}

.teaser-item {
  display: flex;
}

.teaser-item--personalised {
  --image-size: 100%;
}

.teaser-item__link {
  display: flex;
  width: 100%;
  text-decoration: none;
  gap: pxToRem(var(--spacing-fixed-4x));

  @include ifForcedColors() {
    text-decoration: underline;
  }

}

.teaser-item--personalised .teaser-item__link {
  flex-direction: column;
  row-gap: pxToRem(var(--spacing-fixed-3x));;
}

.teaser-item__paragraph {
  @include text-s--regular();
  color: var(--color-metal-default);
  margin: 0;
}

.teaser-item__container-image {
  display: flex;
  flex-basis: pxToRem(var(--image-size));
}

.teaser-item--personalised .teaser-item__container-image {
  flex-basis: 100%;
}

.teaser-item--personalised lyne-image {
  contain: content;
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
}
