// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  display: block;

  --datepicker-width: 312;

  @include mq($from: micro) {
    --datepicker-width: 340;
  }
}

.datepicker {
  @include shadowElevationLevel5;
  width: pxToRem(var(--datepicker-width));
  padding: pxToRem(var(--spacing-fixed-4x));
  border-radius: pxToRem(var(--border-radius-8x));
}
