// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {

  --cols: 1;

}


//.personalised ::slotted(lyne-teaser-item) {}

.teaser-list {
  @include listReset();
  display: flex;
  background: orange;
}

.teaser-list--non-personalised {
  flex-direction: column;
  gap: pxToRem(var(--lyne-spacing-responsive-s));
}



/* .teaserlist.personalised {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px 20px;
} */
