// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin, available for shared
// and default mode
@include host-component-properties;

:host {
  width: 100%;
}

//.personalised ::slotted(lyne-teaser-item) {}

.teaser-list {
  @include listReset();
  display: flex;
  gap: pxToRem(var(--lyne-spacing-responsive-s));
}

.teaser-list--personalised {
  flex-direction: row;
  flex-wrap: wrap;
  --cols: 2;

  @include mq($from: medium) {
    --cols: 4;
  }

}

.teaser-list--non-personalised {
  flex-direction: column;
  gap: pxToRem(var(--lyne-spacing-responsive-s));
  --cols: 1;

  @include mq($from: medium) {
    --cols: 3;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

::slotted(.teaser-list__item) {
  --gap-compensation: var(--lyne-spacing-responsive-s) * (var(--cols) - 1);
  flex: 0 1 calc((100% - #{pxToRem(var(--gap-compensation))}) / var(--cols));
}


/* .teaserlist.personalised {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px 20px;
} */
